.gridfaq {
    border: 0px solid rgb(39, 38, 38);
    height: 800px;
    width: 400px;
    display: grid;
    margin-top: 100px;
    margin-left: 38%;

       
}

.gridfaq__titulo {
    font-size: 50px;
    color: rgb(233, 213, 213);
    text-align: start;
    font-family: 'Paytone One', sans-serif;
    text-align: start;

} 

.gridfaq__imagen {
    margin-top: 2rem;
    width: 200px;
    height: 200px;
}



.footer-faq {
    margin-top: 5rem;
    margin-right: 5%;
    
}
