.header {
    background-color: hwb(0 8% 92%);
    color: rgb(0, 0, 0);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    font-family: 'Paytone One', sans-serif;
    font-size: 20px;
    text-transform: uppercase;
    z-index: 1000;
    text-decoration: none;

    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

.icono-header {
    margin-top: 10px;
    margin-left: 20px;
}

.lista__nav {
    display: flex;
    list-style: none;
    flex-direction: row;
    padding-right: 50px;
    margin-bottom: 30px;
    margin-top: 1rem;
}

.lista {}

.lista__item {
    margin-left: 1rem;
}

.lista__color {
    text-decoration: none;
    color: rgb(233, 213, 213);
}

.header__boton {
    font-size: 35px;
    color: rgb(233, 213, 213);
    text-decoration: none;
    display: none;
}

.lista__item--oculto {
    display: none;
}