@media screen and (max-width:1023px) {

    /*inicio index*/

    .inicio__titulo {
        font-size: 35px;  
    }

    .inicio__parrafo {
        font-family: 'Paytone One', sans-serif;
        font-size: 30px;
        color: rgb(27, 21, 21);  
     
    }

    main {
        min-height: 130vh;
    }
    /*final index*/


    /*inicio carta*/

    .separacion-header {
        margin-top: 80px;
    }

     .carta-titulo {
        font-size: 25px; 
        text-align: center; 
    }

    .grid-carta {

        border: 1px solid rgb(39, 38, 38);
        box-shadow: 1px 1px 2px 2px rgb(119, 121, 119);
        height: 1300px;
        width: 600px;
        margin-left: 180px;
        display: grid;
        border-radius: 30px;
    
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    
        justify-items: center;
        align-items: center
    }

    

    .sub-carta {
        font-size: 25px;
        color: rgb(167, 88, 88);
        font-family: 'Paytone One', sans-serif;
    }

    .info-ramen {


        font-size: 10px;
        color: rgb(27, 27, 27);
        font-family: 'Paytone One', sans-serif;
        
    }

    .bordes {
        border-radius: 10px;
        overflow: hidden;
        width: 200px;
        height: 200px;
    }

    .separacion{
        margin-top: 100px;
        min-height: 300px;
    }


    /*final carta*/

    /*incio empresa*/

    .gridempresa__img{
        width: 600px;
        height: 500px;
        border-radius: 10px;
    }

    /*final empresa*/



}

@media screen and (max-width:599px) {

    .header {
        background-color: hwb(0 8% 92%);
        color: rgb(250, 250, 250);
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        font-family: 'Paytone One', sans-serif;
        font-size: 20px;
        text-transform: uppercase;
        z-index: 1000;
        
        
    
    
        display: flex;
        flex-direction: row;
        justify-content: end;
        
    }

 


    .header__boton {
        font-size: 40px;
        color: rgb(233, 213, 213);
        text-decoration: none;
        display: block;
        
    }

    .lista {
        display: none;
    }

    .lista__nav {
         flex-direction: column;
        
    
    }

    .lista:target {
        background-color:rgb(27, 27, 27);
        display: block;
        position: fixed ;
        z-index: 10000000000;
        top:0;
        left:0;
        width: 50%; 
        height: 40vh;
        

    }

    .icono-header {
        display: none;
        
    }

    .lista__item {
        font-size: 10px;
        margin-top: 1rem;
         
    }

    .lista__item--oculto {
        display: block;
    }



    .inicio  {
        display: flex;
        flex-direction: row;
        flex-direction: column;
        justify-content: center;
        margin-top: 100px;
        
    } 

    .inicio__titulo {
        color: rgb(233, 213, 213);
        font-size: 15px;
        font-family: 'Paytone One', sans-serif;
        text-transform: uppercase
        
        

    }
       
    
    .inicio__izquierda {
        width: 85%;
        margin-left: 50px;
    }
    
    .inicio__derecha {
        display: flex;
        flex-direction: column;
        justify-content: center;
        
        

    }

    .inicio__parrafo {
        font-family: 'Paytone One', sans-serif;
        font-size: 10px;
        color: rgb(233, 213, 213); 
        padding-right: 45%;
        
        
        
    }

    .inicio__imagen {
        margin-top: 50px;
        width: 200px;
        height: 200px;
        margin-left: 20%;
    }

    .inicio__icono {
        width: 20px;
        height: 20px;
    }

    
   
    
    /*final de main index*/
    
    
    /*inicio pagina carta*/
    
    .separacion {
        margin-top: 100px;
        min-height: 150vh;
    }
    
    .carta-titulo {
        font-size: 15px;
        color: rgb(233, 213, 213);
        text-align: center;
        font-family: 'Paytone One', sans-serif;
        margin-right: 15%;
        
    
    }
    
    .grid-carta {
        
        border: none;
        padding: 1rem;
        height: 1800px;
        width: 280px;
        margin-left: 20px;
        display: grid;
        border-radius: 20px;
        
    
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    
        justify-items: center;
        align-items: center;
        
    
    }

    .card {
        margin-top: 0rem;
        border: none;
        width: 15rem;
    }


    
    .card-body {
        background: #141E30;  /* fallback for old browsers */
        background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        
    
    }
    
    .card-title {
        font-size: 15px;
        font-family: 'Paytone One', sans-serif;
        color: rgb(233, 213, 213);
    
    }
    
    .card-text {
        font-size: 10px;
        color: rgb(233, 213, 213);
    
    }

    
    
    
    /*final carta*/






    /*inicio empresa*/
    
    .gridempresa {
        border: 1px solid rgba(145, 114, 114, 0.575);
        height: 800px;
        width: 450px;
        display: grid;
        margin-left: 70px;
        box-shadow: 1px 1px 1px 1px rgba(29, 28, 28, 0.514);
    
        
    }

    .gridempresa__titulo {
        font-size: 30px;
        color: rgb(189, 62, 62);
        font-family: 'Paytone One', sans-serif;
        margin-left: 70px;

    
    }
    
    .gridempresa__parrafo {
        font-size:15px;
        color: rgb(29, 28, 28);
        font-family: 'Paytone One', sans-serif;
        margin-left: 15%;
        margin-right: 15%;
        
        
        
    
    }

    .gridempresa__img{
        width: 400px;
        height: 300px;
        margin-left: 6%;
        border-radius: 10px;
        margin-top: 10px;
    }

    /*final empresa*/

    /*inicio faq*/

    .gridfaq__preguntas {

        font-size: 15px;
        color: rgb(24, 23, 23);
        font-family: 'Paytone One', sans-serif;
        padding-left: 15%;
    
    
    
    }

    /*final faq*/









}